#VS Code Files And Folders
builds/
.vscode

#Visual Studio Files And Folders
.vs/
**.sln
**vcxproj
**vcxproj.filters
**.vcxproj.user

bin/
bin-int/

#Third Party Files And Folders
Stupefy/thirdparty/glfw/bin/
Stupefy/thirdparty/glfw/bin-int/
Stupefy/thirdparty/glfw/GLFW.vcxproj
Stupefy/thirdparty/glfw/GLFW.vcxproj.filters

#Construction Systems
SConstruct